/* Login.css */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container .MuiTextField-root {
    margin-bottom: 16px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding-right: 40px; /* Space for the password icon */
}

.login-container button[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: linear-gradient(45deg, #2196F3, #21CBF3);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-container button[type="submit"]:hover {
    background: #1976D2;
}

.login-container .forgot-password {
    margin-top: 15px;
    font-size: 14px;
    color: #2196F3;
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.login-container .social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-container .social-buttons button {
    padding: 12px 24px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    transition: opacity 0.3s ease;
}

.login-container .social-buttons button:hover {
    opacity: 0.8;
}

.login-container .social-buttons button:first-of-type {
    background-color: #DB4437; /* Google button color */
}

.login-container .social-buttons button:last-of-type {
    background-color: #24292e; /* GitHub button color */
}

.MuiInputAdornment-root {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.MuiIconButton-root {
    background: transparent;
    border-radius: 50%;
    padding: 6px;
    box-shadow: none;
}

.MuiIconButton-root:hover {
    background-color: transparent;
}

.MuiFormControl-root {
    position: relative;
}
